.Button{
    background: #3498db;
    min-width: 100px;
    min-height: 50px;
    padding: 8px 16px;
    border-radius: 3px;
    text-align: center;
    letter-spacing: .09em;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFF;
    user-select: none;
}