.App {
  &__header {
    background-color: #3498db;
    padding: 20px 10px;
    &__title{
      text-align: center;
      color:white;
    }
  }
  &__main {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: #eef4fd;
    padding: 20px 10px;
    @media screen and (min-width: 1300px) {
      max-width: 65%;
    }
    @media screen and (min-width: 960px) {
      max-width: 75%;
    }
  }
  &__footer {
    background-color: #fff;
    min-height: 20vh;
    min-height: 50px;
  }
}
